
/* ======= Common ====== */
/* =======  共用 ======= */
  * {
    box-sizing: border-box;
  }
  .ftco-section {
    padding: 2em 0;
    position: relative;
  }
  
  h1 {
  color:#808080;
  }

  h3{
    color:black;
  }


/* ======= Shop ====== */
/* ======= 商城 ======= */
  a.nav-link {
    color: rgb(122, 55, 55);
  }
  
.page-item.disabled .page-link {
	background-color:#d2bfa4;
	

	}


/* =======Product Manage======= */
/* =======   商品 管理   ======= */
  button.unAvailable {
    background-color: rgb(23, 176, 23);
    color: white;
  }
  button.available {
    background-color: rgb(255, 185, 15);
    color: rgb(0, 0, 0);
  }


  .table {
    min-width: 0 !important;
    width: 100%;
    text-align: center;
  }

  /* 頁籤區塊 */
  div.tab_container div.tab_list_block {
    padding-left: 20px;
  }

  /* 頁籤列表 */
  div.tab_container div.tab_list_block ul.tab_list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  div.tab_container div.tab_list_block ul.tab_list > li {
    display: inline-block;
  }

  div.tab_container div.tab_list_block ul.tab_list > li > a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 1px solid black;
    padding: 2px 20px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: #ccc;
    position: relative;
    top: 1px;
  }

  /* 畫出底部黑線 */
  div.tab_container div.tab_list_block ul.tab_list > li > a::after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 1px;
    background-color: black;
    bottom: -1px;
    left: -1px;
    z-index: 1;
  }

  div.tab_container div.tab_list_block ul.tab_list > li > a.-on {
    border: 1px solid black;
    color: black;
    font-weight:bold;
  }

  /* 將底部黑線改成白色 */
  div.tab_container div.tab_list_block ul.tab_list > li > a.-on::after {
    background-color: white;
    width: 100%;
    left: 0;
  }

  /* 頁籤內容區塊 */
  div.tab_container div.tab_contents {
    border: 1px solid black;
    /*   margin-top: 30px; */
    
  }

  div.tab_container div.tab_contents div.tab {
    padding: 10px;
    display: none;
    
  }

  div.tab_container div.tab_contents div.tab.-on {
    display: block;
  }
  
  

/* ======= product_new/edit ====== */
/* ======= 新增/修改 商品 ======= */
      textarea#description,
      input#productName {
        width: 100%;
      }

      textarea {
        resize: none;
      }
      
      img#img {
      max-width:200px;
      }
      
      
      