* {
    box-sizing: border-box;
  }
/* 搜尋 */
div.card-body{
  background-color: transparent;
  padding: 0px 0px 0px 3px !important;
}
div.input-group{
  padding: 0px !important;
}
div.input-group > input{
  color: black !important;

}
div.input-group > button{
  width: 40px !important; 
  background-color: transparent !important;
  margin-right: 2px !important;
  border: none!important;
}
div.input-group > button > i{
  color: #a4633a !important
}

/* 發表文章 */
button.post-article{
  background-color: rgba(229, 111, 38, 0.7) !important;
  color: azure !important;
  height: 50px !important;
  padding: 0px !important;
  font-size: 30px !important;
  font-weight: bold !important;
  text-align: center !important;
  line-height: 50px !important;
  border-radius: 10px !important;
  width: 100% !important;
  margin-bottom: 10px !important;
  border: none !important;
}

/* 文章分類 */
div.mb-4{
  border:none !important;
  background-color: transparent !important;
}

  div.card-header{
    background-color: rgba(106, 70, 47, 0.71) !important;
    color: azure !important;
    height: 50px !important;
    padding: 0px !important;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px !important;
    border-radius: 10px !important;
  }
  div.accordion-item{
    background-color: rgba(167, 126, 67, 0.46);
    width: 120px;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 20%;
    margin-bottom: 5%;
  }
  button.accordion-button{
    width: 120px !important;
    border-style: none !important;
    font-size: 24px !important;
    border-radius: 10px !important;
    background-color:transparent;
  }
  button.accordion-body{
    font-size: 18px; width: 120px;
    border-radius: 10px !important;
    background-color: transparent;
    border-style: none !important;
  }
  /* 聊天室 */
  button.public-chat{
    background-color: rgba(237, 168, 125, 0.71);
    color: azure;
    height: 50px;
    padding: 0px !important;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px !important;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
  }

  /* 發文區 */
  div.input-group-lg{
    margin-top: 8px;
    background-color: rgba(228, 202, 188, 0.71);
    border-radius: 10px !important;
  }
  span.input-group-text{
    background-color: transparent !important;
    font-size: x-large;
    font-weight: bold !important;
    color: gray;
    border: none;
  }
  input.post-title{
  	background-color: transparent !important;
    font-size: x-large !important;
    color: aliceblue !important;
  }
  select{
    font-size: x-large;
    font-weight: bold;
    color: gray;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 10px;
  }
  option{
    background-color:  rgba(228, 202, 188, 0.71);
    border: none;
  }
  form{
    margin-top: 15px;
  }
  div.btn-post-cancel{
    margin-top: 10px;
    text-align: right;
  }
  div.btn-post-cancel > button{
    width:100px;height:40px;
    font-size: large;
    font-weight: bold;
    background-color: rgba(228, 202, 188, 0.71);
    border: none !important;
    border-radius: 5px;
  }
