.navbar {
	background-color: #D2BFA4 !important;
}

.customer-color {
	background-color: #D2BFA4 !important;
}

.text-mutedcos {
	color: white;
}

.navbar-brand2 {
	color: black;
}

thead {
	background-color: #D2BFA4;
	color: black;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

td, th {
	word-wrap: break-word;
	max-width: 100px;
	border: 1px solid black;
	padding: 5px;
	text-align: center; 
}

.error-message {
	color: red;
}

